WEEX_API_KEY=your_actual_api_key_here
WEEX_SECRET_KEY=your_actual_secret_key_here
WEEX_PASSPHRASE=your_actual_passphrase_here
MONGODB_URI="mongodb+srv://<username>:<password>@cluster0.mongodb.net/weex_bot?retryWrites=true&w=majority"